<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= menu_item.name %>
</p>

<p>
  <b>Link:</b>
  <%= menu_item.link %>
</p>

<p>
  <b>Order:</b>
  <%= menu_item.order %>
</p>


<%= link_to 'Edit', edit_menu_item_path(menu_item) %> |
<%= link_to 'Back', menu_items_path %>
