<p id="notice"><%= notice %></p>

<p>
  <b>Purpose:</b>
  <%= activity.purpose %>
</p>

<p>
  <b>Footnotes:</b>
  <%= activity.footnotes %>
</p>


<%= link_to 'Edit', edit_activity_path(activity) %> |
<%= link_to 'Back', activities_path %>
